*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
    font-size: 0.9vw;
    font-weight: 100;
    padding: 0.4vw 5vw;
    padding-bottom: 0.4vw;
    /* background-color: red; */
}

nav i{
    background-color: #000;
    color: #fff;
    font-size: 1.9vw;
    font-weight: 400;
    padding: 0.7vw;
    border-radius: 50%;
}

#center{
    padding: 1vw 5vw;
    width: 100%;
}

#center h1{
    /* background-color: red; */
    font-size: 3.7vw;
    font-weight: 100;
}

#center p{
    margin-top: 2vw;
    width: 30%;
    font-weight: 600;
    opacity: 0.7;
    /* background-color: gray; */
}

.center-right{
    display: flex;
    justify-content: space-between;    
}

.center-elem{
    margin-top: 3vw;
}

.elem{
    display: flex;
    gap: 7vw;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
    padding: 1vw 0;
}

.elem a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.2vw;
}

#bottom{
    height: 35%;
    width: 100%;
    background-color: red;
    background: url("./model\ 3.avif");
    background-size: cover;
    background-position: 0 30%;
}
